.pagination-nav {
    display: flex;
}

.pagination-nav li {
    margin: 0 4px;
    border: 1px solid #000;
    cursor: pointer;
}
.pagination-nav .nav-item.selected {
    background: #000;
    color: #fff;
}

.pagination-nav li.disabled {
    opacity: 0.5;
    cursor: default;
}
.pagination-nav li a {
    display: flex;
    padding: 8px;
    width: 32px;
    height: 32px;
    justify-content: center;
}