* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

.container-lg {
    margin: auto;
    max-width: 1440px;
}

.container {
    margin: auto;
    padding: 0 15px;
    max-width: 1200px;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

